form {
    background-color: rgb(200, 209, 100);
    color: rgb(0, 0, 0);
    padding: 40px;
    width: fit-content;
    
    border-style: double; 
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    
}
body{
    padding: 100px;                
    

}

button{
    width: 40%;
    height: 5%;
    background-color: rgb(160, 252, 255);
    border: 2px solid rgb(0, 0, 0);
}
 p{
    text-align: center;
}